<h1>Listing ideas</h1>


<% @ideas.each do |idea| %>
<div class="row">
  <div class="span4">
    <%= image_tag idea.picture_url(:thumb) if idea.picture?%>
    <h4><%= link_to idea.name, idea %></h4>

    <p><%= idea.description %></p>

   <p> <%= idea.ratings %></p>
      <td><%= image_tag(idea.trophy_url, :width => 100) if idea.trophy_url %> </td>
  </div>

<% end %>

<br />

